<select
  {{on "change" this.change}}
  ...attributes>
  {{#if @placeholder}}
    <option value="" selected disabled>
      {{@placeholder}}
    </option>
  {{/if}}

  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{#each @options as | optionValue |}}
      <SelectLight::Option
        @valueKey={{this.valueKey}}
        @displayKey={{this.displayKey}}
        @value={{optionValue}}
        @selectedValue={{@value}} />
    {{/each}}
  {{/if}}
</select>
